# dependencies
node_modules/
pnpm-lock.yaml

# builds
dist/
build/
tmp/

# env & secrets
.env
.env.local
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnp-debug.log*
logs/

# coverage & test artifacts
coverage/
.nyc_output/

# system files
.DS_Store
Thumbs.db
